<section id="homepage">
  <div>
    <h1>Welcome to Swapi Selector!</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Star_Wars_Yellow_Logo.svg/2000px-Star_Wars_Yellow_Logo.svg.png" />
    <a href="http://localhost:1337/characters" class="btn-gradient yellow">Check It Out</a>
  </div>
</section>
