<section class="section" id="characters">
    <% for(let i = 0; i < chars.length; i++) { %>
        <div id="character_card">
            <%= chars[i].char_name %>
        </div>
    <% } %>
</section>

